extends ../0_base/template

block title
	title Все фотоальбомы

block content
	main.wrapper
		.content-block
			h2.like-h2.block-title Все фотоальбомы
			
			.columns-grid._2-cols
				.col._1-4
					.ads

				.col._3-4
					.gallery
						.gallery-item
							.card-item._big
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург
									p.card-text.
										О личностном и творческом становлении великого поэта на 
										экскурсии по местам его славы. О личностном и творческом 
										становлении великого поэта на экскурсии по местам его славы.

						.gallery-item
							.card-item
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург

						.gallery-item
							.card-item
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург

						.gallery-item
							.card-item
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург

						.gallery-item
							.card-item._big
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург
									p.card-text.
										О личностном и творческом становлении великого поэта на 
										экскурсии по местам его славы. О личностном и творческом 
										становлении великого поэта на экскурсии по местам его славы.

						.gallery-item
							.card-item
									.card-img
										img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
									.card-header
										.user
											.user-pic
												a(href="#")
													img(src="media/img-p/2.jpg", alt="")
											a(href="#").user-name.
												Рита

										a(href="#").comments._good 345
									a(href="#").card-title.
										Санкт-Петербург