extends ../0_base/template

block title
	title Все фотоальбомы

block content
	main.wrapper
		.content-block
			h2.like-h2.block-title Все фотоальбомы
			
			.columns-grid._2-cols
				.col._1-4.ads-container
					.ads

				.col._3-4._m-1-1
					.gallery
						.gallery_row
							.gallery_col.__1-3
								.gallery_item: +cardPhoto()
								.gallery_item: +cardPhoto()

							.gallery_col.__2-3
								.gallery_item: +cardStory()

						.gallery_row
							.gallery_col.__2-3
								.gallery_item: +cardStory()

							.gallery_col.__1-3
								.gallery_item: +cardPhoto()
								.gallery_item: +cardPhoto()