extends ../0_base/template

block title
	title Все экскурсии

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Экскурсии Россия
				li: a(href="#") Экскурсии Екатеринбург
	main.wrapper
		.content-block
			h2.like-h2.block-title Самые популярные экскурсии

			.popular-items
				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

				.popular-item
					.img
						img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					a(href="#").title.
						Все главные достопримечательности

		.row.ads-container
			.ads._728x92
		
		.content-block
			h2.like-h2.block-title Гиды и экскурсоводы Екатеринбурга
			
			.columns-grid._2-cols
				.col._1-4.ads-container
					.ads
					.ads

				.col._3-4._m-1-1
					.items-grid._1-in-row._m-1-in-row
						.items-grid_item: +cardExcursRow()
						.items-grid_item: +cardExcursRow()
						.items-grid_item: +cardExcursRow()
						.items-grid_item: +cardExcursRow()
						.items-grid_item: +cardExcursRow()
						.items-grid_item: +cardExcursRow()
