extends ../0_base/cabinet_like-guide

block main
	.content-block
		h2.like-h2.block-title Экскурсии

		.items-grid._3-in-row._m-1-in-row.js-sortable
			.items-grid_item: +excursionCard.__editor
			.items-grid_item: +excursionCard.__editor
			.items-grid_item: +excursionCard.__editor
			.items-grid_item: +excursionCard.__editor
			.items-grid_item: +excursionCard.__editor
			.items-grid_item: +excursionCard.__editor

