extends ../0_base/cabinet_like-guide

block main
	.container._white-bg
		form(action="#" method="post").form._pdg-l70
			.col
				span.
					Оплата

				p._text-center.
					Уважаемый пользователь!

				p.
					Теперь оплата рекламных услуг нашего сайта стала намного проще и удобнее для Вас!

				ol
					li.
						Для начала вам нужно <b>согласовать сумму в рублях с Вашим менеджером</b> и вписать ее в строку ниже.
					li.
						Нажать оплатить.
					li.
						Переходите в окно оплаты.
					li.
						Далее Вам нужно ввести данные карты VISA или MasterCard любого банка и нажать оплатить.
					li.
						Подтвердите платеж SMS (как требует Ваш банк), средства спишутся с Вашего счета, а Вы вернетесь в личный кабинет на нашем сайте.

				p.
					При оплате в <b>иностранной валюте</b> сумма конвертируется по текущему курсу Центробанка РФ.

				p.
					Удачных покупок!

				p
					|Техподдержка: 
					a(href="") <b>4@personalguide.ru</b>

				.tf-wrapper._w-220
					input(type="text" name="payment-count" id="payment-count" value="").text-field
					label(for="payment-count" data-content="Сумма оплаты")

				button(type="button").btn Оплатить