extends ../0_base/cabinet_like-guide

block main
	.container._white-bg
		form(action="#" method="post").form._pdg-l70
			.col
				p.
					Выберите разделы на рассылку которых вы хотите подписаться:

				fieldset.fields-groupe
					legend.groupe-title.
						В России

					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-1" id="subscribe-ctg-1")
						label(for="subscribe-ctg-1") Видеогиды
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-2" id="subscribe-ctg-2")
						label(for="subscribe-ctg-2") Выставки
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-3" id="subscribe-ctg-3")
						label(for="subscribe-ctg-3") Гиды
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-4" id="subscribe-ctg-4")
						label(for="subscribe-ctg-4") Карты
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-5" id="subscribe-ctg-5")
						label(for="subscribe-ctg-5") Музеи России
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-6" id="subscribe-ctg-6")
						label(for="subscribe-ctg-6") Отели
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-7" id="subscribe-ctg-7")
						label(for="subscribe-ctg-7") Праздники
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-8" id="subscribe-ctg-8")
						label(for="subscribe-ctg-8") Статьи
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-9" id="subscribe-ctg-9")
						label(for="subscribe-ctg-9") Сувениры
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-10" id="subscribe-ctg-10")
						label(for="subscribe-ctg-10") Турфирмы
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-11" id="subscribe-ctg-11")
						label(for="subscribe-ctg-11") Туры
				
				fieldset.fields-groupe
					legend.groupe-title.
						За рубежом

					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-12" id="subscribe-ctg-12")
						label(for="subscribe-ctg-12") Выставки за рубежом
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-13" id="subscribe-ctg-13")
						label(for="subscribe-ctg-13") Гиды за рубежом
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-14" id="subscribe-ctg-14")
						label(for="subscribe-ctg-14") Карты
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-15" id="subscribe-ctg-15")
						label(for="subscribe-ctg-15") Отдых за рубежом
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-16" id="subscribe-ctg-16")
						label(for="subscribe-ctg-16") Статьи и рассказы за рубежом
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-17" id="subscribe-ctg-17")
						label(for="subscribe-ctg-17") Праздники за рубежом
					.chbx-wrapper
						input(type="checkbox" name="subscribe-ctg-18" id="subscribe-ctg-18")
						label(for="subscribe-ctg-18") Туры за рубежом

				button(type="button").btn Подписаться на рассылку