extends ../0_base/cabinet_like-guide

block main
	.container._white-bg
		form(action="#" method="post").form
			.col._1-4._m-1-1
				.change-pic._userpic._at-cabinet
					#changeUserPic.dropzone
					a(href="#") загрузить
					span.field-notify не больше 3 мб.

			.col._3-4._m-1-1
				fieldset.fields-groupe
					.tf-wrapper._w-220
						input(type="text" name="full-name" id="full-name" value="" data-validation="required").text-field
						label(for="full-name" data-content="ФИО")

					.tf-wrapper._w-220
						input(type="text" name="phone" id="phone" value="" data-validation="number").text-field
						label(for="phone" data-content="телефон")

					.tf-wrapper._w-220
						input(type="text" name="web-site" id="web-site" value="" data-validation="url").text-field
						label(for="web-site" data-content="веб-сайт")

					.tf-wrapper._w-220
						input(type="email" name="email" id="email" value="" data-validation="email").text-field
						label(for="email" data-content="email")

					.tf-wrapper._w-220
						input(type="text" name="lang" id="lang" value="Русский" disabled).text-field._with-cleaning
						button(type="button").cleaner-btn

					.tf-wrapper._select._w-220
						select(name="excursion-lang").select-field
							option(value="null" selected disabled) Язык экскурсий
							option(value="Немецкий") Немецкий
							option(value="Английский") Английский
					
				fieldset.fields-groupe
					label(for="bio") Биография, опыт работы:
					textarea(name="bio", cols="30", rows="6" id="bio").editor

				fieldset.fields-groupe
					label Фотографии 8 шт.
					.dropzone#dzImgsAddGuide
					span.field-notify.
						<i class="ic _pin"></i> тип файла jpg, jpeg, gif, png не больше 3 Мб

				fieldset.fields-groupe
					label Лицензия гида
					.dropzone#dzLicenceAddGuide
					span.field-notify.
						<i class="ic _pin"></i> тип файла jpg, jpeg, gif, png не больше 3 Мб

				button(type="submit").btn сохранить