extends ../0_base/cabinet_like-guide

block main
	.container._white-bg
		form(action="#" method="post").form._pdg-both-40
			.col
				fieldset.fields-groupe
					legend.groupe-title.
						Изменить пароль

					.tf-wrapper._w-220
						input(type="password" name="old-password" id="old-password" value="" data-validation="length" data-validation-length="min6").text-field
						label(for="old-password" data-content="Старый пароль")

					.tf-wrapper._w-220
						input(type="password" name="new-password" id="new-password" value="" data-validation="length" data-validation-length="min6").text-field
						label(for="new-password" data-content="Новый пароль")

					.tf-wrapper._w-220
						input(type="password" name="rpt-new-pasword" id="rpt-new-pasword" value="" data-validation="confirmation" data-validation-confirm="new-password").text-field
						label(for="rpt-new-pasword" data-content="Повторите пароль")

				button(type="submit").btn Изменить

		form(action="#" method="post").form._pdg-both-40
			.col
				fieldset.fields-groupe
					legend.groupe-title.
						Адрес электронной почты

					.tf-wrapper._w-220
						input(type="text" name="email" id="email" value="" data-validation="email").text-field
						label(for="email" data-content="Текущий адрес")

					.tf-wrapper._w-220
						input(type="text" name="new-email" id="new-email" value="" data-validation="confirmation" data-validation-confirm="email").text-field
						label(for="new-email" data-content="Новый адрес")

				button(type="submit").btn Сохранить адрес