extends ../0_base/template

block title
	title Карточка товара

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Экскурсии России
				li: a(href="#") Экскурсии Екатеринбург
	main.wrapper._with-left-side
		.page-header
			h1.page-title Все главные достопримечательности


		.mobile-left-side._is-sticky
			a(href="#").mobile-left-side_link.mobile-left-side__map._is-active
			a(href="#", style="background-image: url('../media/img-p/excursion-1.jpg')").mobile-left-side_link.mobile-left-side__place
			a(href="#").mobile-left-side_link.mobile-left-side__comment
			a(href="#").mobile-left-side_link.mobile-left-side__comment._is-green
			a(href="#").mobile-left-side_link.mobile-left-side__message

		.columns-grid._2-cols

			.col._1-4._m-1-1.page-aside
				article.item-card.--at-page-aside
					.item-card_img-wrapper
						.item-card_img
							img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
								
					.item-card_content
						.item-card_header
							.user
								.user-pic
									a(href="#").item-card_user-pic: img(src="media/img-p/2.jpg", alt="")
								a(href="#").user-name.
									Рита
							a(href="#").item-card_comments 345

						.item-card_footer
							p.item-card_price <b>1600</b> руб. за экскурсию
				
					.action-btns
						a(href="#").btn._is-bordered заказать экскурсию
						a(href="#").btn оставить отзыв
						a(href="#").btn._is-blue отправить сообщение

			.col._3-4._m-1-1
				.content-block
					h2.like-h2.block-title Описание

					p.
						Приглашаем жителей и гостей нашего города на обзорную экскурсию.<br>
						Обзорные экскурсии по Екатеринбургу — быстрый способ познакомиться с городом,
						если вы ограничены во времени — приехали по делам, на обучение, навестить
						родственников или просто оказались здесь проездом.Во время экскурсии вы
						познакомитесь с историей возникновения и развития Екатеринбурга, крупнейшего
						города на Урале, индустриального, административного и культурного центра
						Свердловской области. Побываете на месте рождения города-завода — плотине,
						перекрывшей реку Исеть и ласково называемой горожанами — Плотинка и в
						Историческом сквере. Увидите памятник основателям города.  Приглашаем жителей и
						гостей нашего города на обзорную экскурсию.



					.gallery

						.gallery_row
							.gallery_col.__1-3
								a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery_item: img(src="media/img-p/excursion-1.jpg", alt="")
								a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery_item: img(src="media/img-p/excursion-1.jpg", alt="")
							.gallery_col.__2-3
								a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery_item: img(src="media/img-p/excursion-1.jpg", alt="")


				.content-block
					h2.like-h2.block-title Оставить отзыв
					
					form(action="#" method="post").form._feedback
						.col._2-3._m-1-1
							fieldset.fields-groupe
								.tf-wrapper._w-220
									input(type="text" name="name" id="name" value="").text-field
									label(for="name" data-content="Имя")
								.tf-wrapper._w-220
									input(type="email" name="email" id="email" value="").text-field
									label(for="email" data-content="email")

							fieldset.fields-groupe
								textarea(name="feedback", cols="30", rows="4", placeholder="Оставьте свой отзыв")
							
							fieldset.fields-groupe
								.dropzone#feedbackAttachments
								span.field-notify.
									<i class="ic _pin"></i> тип файла jpg, jpeg, gif, png не больше 3 Мб

							fieldset.fields-groupe
								.captcha
									.captcha-img
										img(src="media/img/captcha.png")
										a(href="#").captha-update
									input(type="text" name="name" id="captcha" value="")
							button(type="submit").btn отправить

				.content-block
					h2.like-h2.block-title Отзывы

					.feedback-item
						p.feedback-item_text.
							Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
							эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
							искромётно стилизовали народные, украсили искрящимися улыбками, светом 
							счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль. 
						
						.feedback-item_attachments
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")

						.feedback-item_foo
							.feedback-item_author
								.feedback-item_author-pic
									img(src="media/img-p/1.jpg", alt="")
								a(href="#").feedback-item_author-name Катерина
							time(datetime="21-07-2017") 21.07.2017

					.feedback-item
						p.feedback-item_text.
							Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
							эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
							искромётно стилизовали народные, украсили искрящимися улыбками, светом 
							счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль.

						.feedback-item_foo
							.feedback-item_author
								.feedback-item_author-pic
									img(src="media/img-p/1.jpg", alt="")
								a(href="#").feedback-item_author-name Катерина
							time(datetime="21-07-2017") 21.07.2017