extends ../0_base/guide-page

block page-content
	.content-block
		h2.block-title._blue.
			Рабочие моменты

		p.
			О личностном и творческом становлении великого поэта на экскурсии по местам его 
			славы. О личностном и творческом становлении великого поэта на экскурсии по местам его славы.

		.gallery
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")
			a(data-fancybox="gallery" href="media/img-p/excursion-1.jpg").gallery-item: img(src="media/img-p/excursion-1.jpg", alt="")

	.content-block
		h2.like-h2.block-title Оставить отзыв

		form(action="#" method="post").form._feedback
			.col._2-3
				fieldset.fields-groupe
					.tf-wrapper._w-220
						input(type="text" name="name" id="name" value="").text-field
						label(for="name" data-content="Имя")
					.tf-wrapper._w-220
						input(type="email" name="email" id="email" value="").text-field
						label(for="email" data-content="email")

				fieldset.fields-groupe
					textarea(name="feedback", cols="30", rows="4", placeholder="Оставьте свой отзыв")
				
				fieldset.fields-groupe
					.dropzone#feedbackAttachments
					span.field-notify.
						тип файла jpg, jpeg, gif, png не больше 3 Мб

				a(href="#").btn отправить

	.content-block
		h2.like-h2.block-title Отзывы

		.feedback-item
			p.feedback-text.
				Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
				эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
				искромётно стилизовали народные, украсили искрящимися улыбками, светом 
				счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль. 

			.feedback-foo
				.feedback-author
					.author-pic
						img(src="media/img-p/1.jpg", alt="")
					a(href="#").author-name Катерина
				time(datetime="21-07-2017") 21.07.2017