extends ../0_base/guide-page

prepend content
	- menu = false;

block page-content

	.content-block#about-me
		h2.like-h2.block-title Биография, опыт работы:

		p.
			Добрый день, уважаемые гости города Екатеринбурга!<br>
			Последние 18 лет моя основная профессия - экскурсовод.<br>
			Образование: Уральский госуниверситет им. Горького,<br>
			Российская международная академия туризма.<br>
			Мое кредо: каждый гость - это VIP!<br>
			Буду рада каждой встрече!<br>
			Контакты: мой сайт www.rndv.3dn.ru

	.content-block
		h2.like-h2.block-title Описание:

		p.
			Предлагаю для гостей и жителей Екатеринбурга стандартные, обзорные и тематические экскурсии, а также собственные авторские маршруты. Все программы аттестованы ... имею аккредитацию гида 1-й категории.
			Могу составить экскурсионный маршрут для любой категории туристов и для любого возраста по Екатеринбургу и Уралу.<br>
			Основные маршруты:<br>
			Екатеринбург - столица Урала<br>
			Вечерний Екатеринбург<br>
			Екатеринбург - город семи чудес<br>
			Город которого нет<br>
			На границу Европы и Азии<br>
			Романовы на Урале (Ганина Яма)<br>
			советский Свердловск<br>
			Опорный край державы<br>
			Город Ельцина<br>
			Екатеринбург театральный<br>
			Екатеринбург литературный<br>
			Родина Российского золота (Березовский)<br>
			Тайны наклонной башни (Невьянск)<br>
			Колокольная столица Урала (Каменск Уральский)<br>
			Усадьба Чайковских в Алапаевске<br>
			Подвиг разведчика (Талица-Зырянка - родина Николая Кузнецова) и др.

		p.
			По вашему желанию можно заказать пешеходные экскурсии, на легковом автомобиле (мой стаж вождения 12 лет), а также автобус для любого количества экскурсантов.

	.content-block#excursions
		h2.like-h2.block-title Экскурсии

		.items-grid._3-in-row._m-2-in-row
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
	
	.content-block#story
		h2.like-h2.block-title Рассказы

		.items-grid._3-in-row._m-2-in-row
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()
			.items-grid_item: +cardExcurs()

	.content-block#photo
		h2.like-h2.block-title Фотоальбомы

		.gallery
			.gallery_row
				.gallery_col.__1-3
					.gallery_item: +cardPhoto()
					.gallery_item: +cardPhoto()

				.gallery_col.__2-3
					.gallery_item: +cardStory()

			.gallery_row
				.gallery_col.__2-3
					.gallery_item: +cardStory()

				.gallery_col.__1-3
					.gallery_item: +cardPhoto()
					.gallery_item: +cardPhoto()

	.content-block#video
		h2.like-h2.block-title Видеозаписи

		.items-grid._3-in-row._m-2-in-row
			.items-grid_item: +card_videocam(true, true)
			.items-grid_item: +card_videocam(true, true)
			.items-grid_item: +card_videocam(true, true)

	.content-block#comments
		h2.like-h2.block-title Оставить отзыв
		
		form(action="#" method="post").form._feedback
			.col._2-3._m-1-1
				fieldset.fields-groupe
					.tf-wrapper._w-220
						input(type="text" name="name" id="name" value="").text-field
						label(for="name" data-content="Имя")
					.tf-wrapper._w-220
						input(type="email" name="email" id="email" value="").text-field
						label(for="email" data-content="email")

				fieldset.fields-groupe
					textarea(name="feedback", cols="30", rows="4", placeholder="Оставьте свой отзыв")
				
				fieldset.fields-groupe
					.dropzone#feedbackAttachments
					span.field-notify.
						<i class="ic _pin"></i> тип файла jpg, jpeg, gif, png не больше 3 Мб

				fieldset.fields-groupe
					.captcha
						.captcha-img
							img(src="media/img/captcha.png")
							a(href="#").captha-update
						input(type="text" name="name" id="captcha" value="")

				button(type="submit").btn отправить

	.content-block
		h2.like-h2.block-title Отзывы

		.feedback-item
			p.feedback-item_text.
				Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
				эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
				искромётно стилизовали народные, украсили искрящимися улыбками, светом 
				счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль. 
			
			.feedback-item_attachments
				a(href="#").feedback-item_img
					img(src="media/img-p/excursion-1.jpg", alt="")
				a(href="#").feedback-item_img
					img(src="media/img-p/excursion-1.jpg", alt="")
				a(href="#").feedback-item_img
					img(src="media/img-p/excursion-1.jpg", alt="")
				a(href="#").feedback-item_img
					img(src="media/img-p/excursion-1.jpg", alt="")

			.feedback-item_foo
				.feedback-item_author
					.feedback-item_author-pic
						img(src="media/img-p/1.jpg", alt="")
					a(href="#").feedback-item_author-name Катерина
				time(datetime="21-07-2017") 21.07.2017

		.feedback-item
			p.feedback-item_text.
				Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
				эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
				искромётно стилизовали народные, украсили искрящимися улыбками, светом 
				счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль.

			.feedback-item_foo
				.feedback-item_author
					.feedback-item_author-pic
						img(src="media/img-p/1.jpg", alt="")
					a(href="#").feedback-item_author-name Катерина
				time(datetime="21-07-2017") 21.07.2017