extends ../0_base/template

block title
    title Главная

block siteHeader
    include ../1_blocks/site-header-full

block content
    main
        .wrapper
            .content-block.place-info
                h1.like-h1.block-title Екатеринбург

                P.js-shorted-block._is-shorted#about-place-text.
                    Город Екатеринбург является административным центром Свердловской области. Это
                    наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на
                    восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть.
                    Данный населенный пункт находится на расстоянии 1667 километров к востоку от
                    Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает
                    метрополитен. Население города в 2001 году составляло более одного миллиона 259
                    тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.
                    Город Екатеринбург является административным центром Свердловской области. Это
                    наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на
                    восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть.
                    Данный населенный пункт находится на расстоянии 1667 километров к востоку от
                    Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает
                    метрополитен. Население города в 2001 году составляло более одного миллиона 259
                    тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.
                    Город Екатеринбург является административным центром Свердловской области. Это
                    наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на
                    восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть.
                    Данный населенный пункт находится на расстоянии 1667 километров к востоку от
                    Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает
                    метрополитен. Население города в 2001 году составляло более одного миллиона 259
                    тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.

                a(href="#about-place-text").js-unshort-block читать дальше

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-1_big.png", alt="")
                span.tab-slider_cat-title Для туристов

            .row._grey
                .wrapper
                    // add to tabs .js-tabs class and carousel will be work
                    .tabs
                        a(href="#tourist-slide-1").item._is-active Гиды
                        a(href="#tourist-slide-2").item Туры
                        a(href="#tourist-slide-3").item Экскурсии
                        a(href="#tourist-slide-4").item Турфирмы
                        a(href="#tourist-slide-5").item Рассказы
                        a(href="#tourist-slide-6").item Справочник
                        a(href="#tourist-slide-7").item Визы

            .tab-slider_content.wrapper.columns-grid._2-cols
                .col._4-4

                    .tab-slider_item#tourist-slide-1-off

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item
                                .ads-container
                                    .ads
                            .items-grid_item: +cardPerson()
                            .items-grid_item: +cardPerson()
                            .items-grid_item: +cardPerson()

                        a(href="all-items_guides.html").link.to-all все гиды

                    .ads-container
                        .ads._728x92

                    .tab-slider_item#tourist-slide-2-off

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item
                                .ads-container
                                    .ads
                            .items-grid_item: +cardTour()
                            .items-grid_item: +cardTour()
                            .items-grid_item: +cardTour()

                        a(href="#").link.to-all все туры
                    .tab-slider_item#tourist-slide-3-off

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardExcurs()
                            .items-grid_item: +cardExcurs()
                            .items-grid_item: +cardExcurs(true)
                            .items-grid_item: +cardExcurs(true)

                        a(href="all-items_excurs.html").link.to-all все экскурсии
                    .tab-slider_item#tourist-slide-4-off

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()

                        a(href="#").link.to-all все турфирмы
                    .tab-slider_item#tourist-slide-5

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardStory(true)
                            .items-grid_item: +cardStory()
                            .items-grid_item: +cardStory(true)
                            .items-grid_item: +cardStory()

                        a(href="#").link.to-all все рассказы
                    .tab-slider_item#tourist-slide-6

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()
                            .items-grid_item: +cardTourfirm()

                        a(href="#").link.to-all все справочники

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-2_big.png", alt="")
                span.tab-slider_cat-title Где поселиться

            .row._grey
                .wrapper
                    .tabs.js-tabs
                        a(href="#settle-slide-1").item._is-active Гостиницы
                        a(href="#settle-slide-2").item Квартиры посуточно
                        a(href="#settle-slide-3").item Частный сектор
                        a(href="#settle-slide-4").item Мини-отели
                        a(href="#settle-slide-5").item Хостелы
                        a(href="#settle-slide-6").item Аренда жилья

            .tab-slider_content.wrapper.columns-grid._2-cols

                .col._4-4._m-1-1
                    .tab-slider_item#settle-slide-1

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все гостиницы Екатеринбурга

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-3_big.png", alt="")
                span.tab-slider_cat-title Где поесть

            .row._grey
                .wrapper
                    .tabs.js-tabs
                        a(href="#eating-slide-1").item._is-active Рестораны
                        a(href="#eating-slide-2").item Кафе
                        a(href="#eating-slide-3").item Бары

            .tab-slider_content.wrapper.columns-grid._2-cols

                .col._4-4._m-1-1
                    .tab-slider_item#eating-slide-1

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все рестораны Екатеринбурга

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-4_big.png", alt="")
                span.tab-slider_cat-title Что посмотреть

            .row._grey
                .wrapper
                    .tabs
                        a(href="#entertainment-slide-1").item._is-active Музеи
                        a(href="#entertainment-slide-2").item Выставки
                        a(href="#entertainment-slide-3").item Видеогид
                        a(href="#entertainment-slide-4").item Карты
                        a(href="#entertainment-slide-5").item Праздники
                        a(href="#entertainment-slide-6").item Веб-камеры
                        a(href="#entertainment-slide-7").item Фотогалерея

            .tab-slider_content.wrapper.columns-grid._2-cols

                .col._4-4._m-1-1
                    .tab-slider_item#entertainment-slide-1

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все музеи

                    .tab-slider_item#entertainment-slide-2

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все выставки


                    .tab-slider_item#entertainment-slide-6

                        .gallery
                            .gallery_row.video_section
                                .gallery_col.__2-3
                                    .gallery_item: +card_videocam()
                                .gallery_col.__1-3
                                    .gallery_item: +card_videocam()
                                    .gallery_item: +card_videocam()

                        a(href="#").link.to-all веб-камеры он-лайн

                    .tab-slider_item#entertainment-slide-7

                        .gallery
                            .gallery_row
                                .gallery_col.__1-3
                                    .gallery_item: +cardPhoto()
                                    .gallery_item: +cardPhoto()
                                .gallery_col.__2-3
                                    .gallery_item: +cardStory()

                        a(href="all-items_photos.html").link.to-all все фотоальбомы Екатеринбурга

                    .tab-slider_item#entertainment-slide-9

                        .items-grid._4-in-row._at-tab-slider.video_section
                            .items-grid_item: +card_videocam(true, true)
                            .items-grid_item: +card_videocam(true, true)
                            .items-grid_item: +card_videocam(true, true)
                            .items-grid_item: +card_videocam(true, true)

                        a(href="#").link.to-all все видео Екатеринбурга

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-5_big.png", alt="")
                span.tab-slider_cat-title Где отдохнуть

            .row._grey
                .wrapper
                    .tabs.js-tabs
                        a(href="#recreation-slide-1").item._is-active SPA
                        a(href="#recreation-slide-2").item Базы отдыха
                        a(href="#recreation-slide-3").item Горнолыжные комплексы
                        a(href="#recreation-slide-4").item Загородные лагеря
                        a(href="#recreation-slide-5").item Турбазы
                        a(href="#recreation-slide-6").item Развлечения

            .tab-slider_content.wrapper.columns-grid._2-cols
                .col._4-4._m-1-1
                    .tab-slider_item#recreation-slide-1

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все SPA

            .tab-slider_content.wrapper.columns-grid._2-cols
                .col._4-4._m-1-1
                    .tab-slider_item#recreation-slide-2

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()
                            .items-grid_item: +cardHotel()

                        a(href="#").link.to-all все выставки

        .tab-slider
            .tab-slider_header.wrapper
                .tab-slider_cat-marker
                    img(src="media/img/groupe-icon-6_big.png", alt="")
                span.tab-slider_cat-title Что купить

            .row._grey
                .wrapper
                    .tabs.js-tabs
                        a(href="#buying-slide-1").item._is-active Сувениры

            .tab-slider_content.wrapper.columns-grid._2-cols
                .col._4-4._m-1-1
                    .tab-slider_item#buying-slide-1

                        .items-grid._4-in-row._at-tab-slider
                            .items-grid_item: +cardHotel(true)
                            .items-grid_item: +cardHotel(true)
                            .items-grid_item: +cardHotel(true)
                            .items-grid_item: +cardHotel(true)

                        a(href="#").link.to-all все сувениры