extends ../0_base/index-template

//- MIXIN BLOCKS
include ../1_blocks/guide-card
include ../1_blocks/card_person
include ../1_blocks/card_tour
include ../1_blocks/card_excursion
include ../1_blocks/card_tourfirm
include ../1_blocks/card_story
include ../1_blocks/card_photo

block title
	title Главная

block content
	main
		.wrapper
			.content-block.place-info
				h1.like-h1.block-title Екатеринбург

				P.js-shorted-block._is-shorted#about-place-text.
					Город Екатеринбург является административным центром Свердловской области. Это 
					наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на 
					восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть. 
					Данный населенный пункт находится на расстоянии 1667 километров к востоку от 
					Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает 
					метрополитен. Население города в 2001 году составляло более одного миллиона 259 
					тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.
					Город Екатеринбург является административным центром Свердловской области. Это 
					наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на 
					восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть. 
					Данный населенный пункт находится на расстоянии 1667 километров к востоку от 
					Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает 
					метрополитен. Население города в 2001 году составляло более одного миллиона 259 
					тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.
					Город Екатеринбург является административным центром Свердловской области. Это 
					наиболее крупный промышленный, торговый, культурный центр Урала. Он построен на 
					восточном склоне Среднего Урала по берегам притока Тобола, а именно реки Исеть. 
					Данный населенный пункт находится на расстоянии 1667 километров к востоку от 
					Москвы. Здесь есть два аэропорта – один крупный, другой поменьше, работает 
					метрополитен. Население города в 2001 году составляло более одного миллиона 259 
					тысяч человек. Здесь есть два аэропорта – один крупный/метрополитен.

				a(href="#about-place-text").js-unshort-block читать дальше

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-1.png", alt="")
				span.category-title Для туристов

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#tourist-slide-1").item._is-active Гиды
						a(href="#tourist-slide-2").item Туры
						a(href="#tourist-slide-3").item Экскурсии
						a(href="#tourist-slide-4").item Турфирмы
						a(href="#tourist-slide-5").item Рассказы
						a(href="#tourist-slide-6").item Справочник
						a(href="#tourist-slide-7").item Визы

			.wrapper.slider-content
				.col._1-4
						.ads

				.col._3-4

					.slide#tourist-slide-1
						
						.row.slide-items
							.col._1-3: +cardPerson()
							.col._1-3: +cardPerson()
							.col._1-3: +cardPerson()

						a(href="all-items_guides.html").link.to-all все гиды

					.slide#tourist-slide-2

						.row.slide-items
							.col._1-3: +cardTour()
							.col._1-3: +cardTour()
							.col._1-3: +cardTour()

						a(href="#").link.to-all все туры

					.slide#tourist-slide-3

						.row.slide-items
							.col._1-3: +cardExcurs()
							.col._1-3: +cardExcurs()
							.col._1-3: +cardExcurs()

						a(href="all-items_excurs.html").link.to-all все экскурсии

					.slide#tourist-slide-4

						.row.slide-items
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()

						a(href="#").link.to-all все турфирмы

					.slide#tourist-slide-5
						
						.row.slide-items
							.col._1-3: +cardStory()
							.col._1-3: +cardStory()
							.col._1-3: +cardStory()

						a(href="#").link.to-all все рассказы

					.slide#tourist-slide-6
						
						.row.slide-items
							.col._1-3: +cardStory()
							.col._1-3: +cardStory()
							.col._1-3: +cardStory()

						a(href="#").link.to-all все справочники

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-2.png", alt="")
				span.category-title Где поселиться

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#settle-slide-1").item._is-active Гостиницы
						a(href="#settle-slide-2").item Квартиры посуточно
						a(href="#settle-slide-3").item Частный сектор
						a(href="#settle-slide-4").item Мини-отели
						a(href="#settle-slide-5").item Хостелы
						a(href="#settle-slide-6").item Аренда жилья

			.wrapper.slider-content
				.col._1-4
					.ads

				.col._3-4
					.slide#settle-slide-1
						
						.row.slide-items
							.col._1-3: +cardExcurs()
							.col._1-3: +cardExcurs()
							.col._1-3: +cardExcurs()

						a(href="#").link.to-all все отели Екатеринбурга

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-3.png", alt="")
				span.category-title Где поесть

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#eating-slide-1").item._is-active Рестораны
						a(href="#eating-slide-2").item Кафе
						a(href="#eating-slide-3").item Бары

			.wrapper.slider-content
				.col._1-4
					.ads

				.col._3-4
					.slide#eating-slide-1
						
						.row.slide-items
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()

						a(href="#").link.to-all все рестораны Екатеринбурга

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-4.png", alt="")
				span.category-title Что посмотреть

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#entertainment-slide-1").item._is-active Музеи
						a(href="#entertainment-slide-2").item Выставки
						a(href="#entertainment-slide-3").item Видеогид
						a(href="#entertainment-slide-4").item Карты
						a(href="#entertainment-slide-5").item Праздники
						a(href="#entertainment-slide-6").item Веб-камеры
						a(href="#entertainment-slide-7").item Фотогалерея

			.wrapper.slider-content
				.col._1-4
					.ads

				.col._3-4
					.slide#entertainment-slide-1

						.row.slide-items
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()

						a(href="#").link.to-all все рестораны Екатеринбурга

					.slide#entertainment-slide-6

						.row.slide-items._masonry
							.col._2-3
								+cardStory()._big
							.col._1-3
								+cardPhoto()
								+cardPhoto()

						a(href="#").link.to-all все веб-камеры

					.slide#entertainment-slide-7

						.row.slide-items._masonry
							.col._1-3
								+cardPhoto()
								+cardPhoto()
							.col._2-3
								+cardStory()._big

						a(href="all-items_photos.html").link.to-all все фотоальбомы

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-5.png", alt="")
				span.category-title Где отдохнуть

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#recreation-slide-1").item._is-active SPA
						a(href="#recreation-slide-2").item Базы отдыха
						a(href="#recreation-slide-3").item Горнолыжные комплексы
						a(href="#recreation-slide-4").item Загородные лагеря
						a(href="#recreation-slide-5").item Турбазы
						a(href="#recreation-slide-6").item Развлечения

			.wrapper.slider-content
				.col._1-4
					.ads

				.col._3-4
					.slide#recreation-slide-1

						.row.slide-items
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()

						a(href="#").link.to-all все рестораны Екатеринбурга

		.index-slider
			.slider-header.wrapper
				.category-marker
					img(src="media/img/groupe-icon-6.png", alt="")
				span.category-title Что купить

			.row._grey
				.wrapper
					.tabs.js-tabs
						a(href="#buying-slide-1").item._is-active Сувениры

			.wrapper.slider-content
				.col._1-4
					.ads

				.col._3-4
					.slide#buying-slide-1

						.row.slide-items
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()
							.col._1-3: +cardTourfirm()

						a(href="#").link.to-all все сувениры