extends ../0_base/template

block title
	title Карты городов и окрестностей

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Видеогид Россия
				li: a(href="#") Видеогид Екатеринбург
	main.wrapper

		.page-header
			h1.page-title._grey._center Карты города и окрестностей

		.columns-grid._2-cols


			.col._3-4._m-1-1
				.items-grid._3-in-row._m-1-in-row
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min
					.items-grid_item: +card_videocam-min

			.col._1-4.ads-container
				.ads
				.ads