extends ../0_base/template

block title
    title Поиск

block content
    main.wrapper
        .global-search
            form.search-form._at-city-modal(action="#" method="get")
                input.serach-field(type="text" name="search-request" placeholder="что искать?" value="Казань" )
                button.search-submit(type="submit")

            .row.keywords
                a(href="#").keywords-scroll

                .keywords-carousel
                    +keyword("Все")._is-active
                    +keyword("Гиды", 74)
                    +keyword("Города", 1)
                    +keyword("Туры", 34)
                    +keyword("Экскурсии", 102)
                    +keyword("Рассказы", 26)
                    +keyword("Отели", 110)
                    +keyword("Выставки", 11)
                    +keyword("Фотоальбомы", 15)
                    +keyword("Рестораны", 5)
                    +keyword("СПА", 6)
                    +keyword("Видео", 9)
                a(href="#").keywords-scroll



        .row.ads-container
            .ads._728x92

        .content-block.mt-20


            .columns-grid._2-cols
                .col._3-4._m-1-1
                    +cardFindElement("Казань, Россия - информация о городе", "Казань - столица Татарии, древний город, в котором переплелись традиции Востока и Запада, расположена на левом берегу реки Волга, при впадении в нее реки Казанка, в 797 км к востоку от Москвы.", "Города", "", "media/img-p/excursion-1.jpg")
                    +cardFindElement("Мратхузина Светлана Фаридовна", "Я - коренная жительница Казани, хорошо знаю город и с удовольствием покажу его вам! Я могу организовать и провести индивидуальные и групповые экскурсии, на своем легковом автомобиле(до 4 человек), на минивэне (до 6 человек), на микроавтобусе (до 18 человек) или на автобусе (до 53 человек).", "Гиды", "Казань", "media/img-p/guide-1.jpg", "circle")
                    +cardFindElement("Мратхузина Светлана Фаридовна", "Я - коренная жительница Казани, хорошо знаю город и с удовольствием покажу его вам! Я могу организовать и провести индивидуальные и групповые экскурсии, на своем легковом автомобиле(до 4 человек), на минивэне (до 6 человек), на микроавтобусе (до 18 человек) или на автобусе (до 53 человек).", "Гиды", "Казань, Болгар, Свияжск, Елабуга, Йошкар-Ола", "media/img-p/guide-1.jpg", "circle")
                    +cardFindElement("Мратхузина Светлана Фаридовна", "Я - коренная жительница Казани, хорошо знаю город и с удовольствием покажу его вам! Я могу организовать и провести индивидуальные и групповые экскурсии, на своем легковом автомобиле(до 4 человек), на минивэне (до 6 человек), на микроавтобусе (до 18 человек) или на автобусе (до 53 человек).", "Гиды", "Казань")
                    +cardFindElement("Обзорная экскурсия по Казани «Казань тысячелетняя» ", "", "Экскурсии", "", "media/img-p/excursion-1.jpg", "square" )
                    +cardFindElement("«Удиви меня, Казань» (2 дн./1 н.), Казань ", "Я - коренная жительница Казани, хорошо знаю город и с удовольствием покажу его вам! Я могу организовать и провести индивидуальные и групповые экскурсии, на своем легковом автомобиле(до 4 человек), на минивэне (до 6 человек), на микроавтобусе (до 18 человек) или на автобусе (до 53 человек).", "Туры")
                    +cardFindElement("«Тысячелетние жемчужины Татарстана. Казань-Елабуга» (3 дн./2 н.), Казань ", "Я - коренная жительница Казани, хорошо знаю город и с удовольствием покажу его вам! Я могу организовать и провести индивидуальные и групповые экскурсии, на своем легковом автомобиле(до 4 человек), на минивэне (до 6 человек), на микроавтобусе (до 18 человек) или на автобусе (до 53 человек).", "Туры", "",  "media/img-p/excursion-1.jpg")



                .col._1-4.ads-container
                    .ads
                    .ads




            .pagination._pdg-vert40
                a(href="#").item._is-active 1
                a(href="#").item 2
                a(href="#").item 3
                a(href="#").item 4
                a(href="#").item ...
                a(href="#").item 8
                a(href="#").item._load-more Загрузить ещё...
