extends ../0_base/template

block title
    title Все гиды

block content
    nav.breadcrumbs
        .wrapper
            ul
                li: a(href="#") Главная
                li: a(href="#") Гиды Россия
                li: a(href="#") Гиды Екатеринбург
    main.wrapper

        .content-block
            h2.like-h2.block-title Популярные гиды в Екатеринбурге

            .popular-items
                +guidePopular()
                +guidePopular()
                +guidePopular()
                +guidePopular()

        .row.ads-container
            .ads._728x92

        .content-block
            h2.like-h2.block-title Гиды и экскурсоводы Екатеринбурга

            +filterItems()

            .columns-grid._2-cols
                .col._3-4._m-1-1
                    +guideCard("pay")
                    +guideCard("social")
                .col._1-4.ads-container
                    .ads
                    .ads

            .col._4-4.ads-container
                .ads._728x92
            .columns-grid._2-cols
                .col._3-4._m-1-1
                    +guideCard()
                    +guideCard("free")




            .pagination._pdg-vert40
                a(href="#").item._is-active 1
                a(href="#").item 2
                a(href="#").item 3
                a(href="#").item 4
                a(href="#").item ...
                a(href="#").item 8
                a(href="#").item._load-more Загрузить ещё...
