extends ../0_base/template

block title
	title Пепельница "Лапоть"

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Сувениры
				li: a(href="#") Сувениры Россия
				li: a(href="#") Сувениры Екатеринбург
	main.wrapper
		.page-header
			h1.page-title Пепельница "Лапоть"



		.columns-grid._2-cols
			.col._1-4._m-1-1.page-aside
				article.item-card.--at-page-aside
					.item-card_img-wrapper
						.item-card_img
							img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
					
					.item-card_content
						.item-card_header
							span Свердловская область, Екатеринбург

						ul.item-card_params
							li
								b Материал:<br>
								span Чугун
							li
								b Размер:<br>
								span 100х7х2 см
							li
								b Вес:<br>
								span 100 гр
				
				.action-btns
					a(href="#").btn купить

			.col._3-4._m-1-1
				.content-block
					h2.like-h2.block-title Описание

					p.
						Пепельница "Лапоть". Фаянс, глазурь. СССР (?), середина XX века. Размер 6 х 11,5 х 2,2 см. 
						Сохранность очень хорошая.

				.content-block
					h2.like-h2.block-title Оставить отзыв
					
					form(action="#" method="post").form._feedback
						.col._2-3._m-1-1
							fieldset.fields-groupe
								.tf-wrapper._w-220
									input(type="text" name="name" id="name" value="").text-field
									label(for="name" data-content="Имя")
								.tf-wrapper._w-220
									input(type="email" name="email" id="email" value="").text-field
									label(for="email" data-content="email")

							fieldset.fields-groupe
								textarea(name="feedback", cols="30", rows="4", placeholder="Оставьте свой отзыв")
							
							fieldset.fields-groupe
								.dropzone#feedbackAttachments
								span.field-notify.
									<i class="ic _pin"></i> тип файла jpg, jpeg, gif, png не больше 3 Мб
							fieldset.fields-groupe
								.captcha
									.captcha-img
										img(src="media/img/captcha.png")
										a(href="#").captha-update
									input(type="text" name="name" id="captcha" value="")

							button(type="submit").btn отправить

				.content-block
					h2.like-h2.block-title Отзывы

					.feedback-item
						p.feedback-item_text.
							Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
							эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
							искромётно стилизовали народные, украсили искрящимися улыбками, светом 
							счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль. 
						
						.feedback-item_attachments
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").feedback-item_img
								img(src="media/img-p/excursion-1.jpg", alt="")

						.feedback-item_foo
							.feedback-item_author
								.feedback-item_author-pic
									img(src="media/img-p/1.jpg", alt="")
								a(href="#").feedback-item_author-name Катерина
							time(datetime="21-07-2017") 21.07.2017

					.feedback-item
						p.feedback-item_text.
							Взяли за основу великолепных профессиональных танцовщиц, добавили взрыв 
							эмоций и фонтан бешеной энергетики, смешали стили кабаре и латино, 
							искромётно стилизовали народные, украсили искрящимися улыбками, светом 
							счастливых глаз наших зрителей, шармом и браво - получился шикарный коктейль.

						.feedback-item_foo
							.feedback-item_author
								.feedback-item_author-pic
									img(src="media/img-p/1.jpg", alt="")
								a(href="#").feedback-item_author-name Катерина
							time(datetime="21-07-2017") 21.07.2017