extends ../0_base/template

block title
	title Приезжайте к нам!

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Видеогид Россия
				li: a(href="#") Видеогид Тольятти
	main.wrapper
		.page-header
			h1.page-title Приезжайте к нам !



		.content-block
			.video-container
				<iframe width="100%" height="auto" src="https://www.youtube.com/embed/zFst3IQ9vnA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<div class="item-card_user"><a class="item-card_user-pic" href="#"><img src="media/img-p/2.jpg" alt=""></a><a class="user-name" href="#">Семёнов Станислав Николаевич Гид в городе Тольятти</a></div>
			p.
				Тольятти – административный центр Ставропольского района и один из крупнейших городов Самарской области, расположенный прямо напротив живописнейших Жигулевских гор.
			p.
				Этот левобережный волжский город имел все шансы стать типичным представителем тихих провинциальных «поселений», известных, разве что, его коренным жителям. Однако сегодня Тольятти известен не только в России, но и за ее пределами. И тому есть несколько причин.
			p.
				Первая – АвтоВАЗ, который, несмотря на множество шуток и подколов, по сей день остается одним из крупнейших автомобильных заводов России и позволяет Тольятти носить гордое название автомобильной столицы.
			p.
				Вторая – численность населения (согласно статистическим данным Тольятти является самым крупным нестоличным городом России – так называемый город-субмиллионер, в котором на сегодняшний день проживает порядка 720 000 жителей и который имеет все шансы в ближайшем будущем перешагнуть заветную планку).

