mixin cardNews()
	article.item-card&attributes(attributes)
		.item-card_img-wrapper
			.item-card_img
				img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")

		.item-card_content
			a(href="#").item-card_title Санкт-Петербург Есенина в компании поэта