mixin cardFullStory()
	article.item-card.--row.--news&attributes(attributes)
		.item-card_img-wrapper
			.item-card_img
				img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")

		.item-card_content


			a(href="#").item-card_title.
				Что означает номер ROH, когда выбираешь отель?

			p.item-card_text.
				Перед поездкой сфотографируйте все свои документы: ваучер на отель, трансфер из аэропорта, медицинскую страховку, паспорт, загранпаспорт, авиабилет и визу. Или сделайте копии.  ...

			.item-card_footer
				a(href="#").link Подробнее