mixin card_videocam()
    article.item-card&attributes(attributes)

        .item-card_img-wrapper
            a(href="#").item-play
            .item-card_img
                img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")

        .item-card_content


            a(href="#").item-card_title.
                Пересечение проспекта Ленина и улицы Луначарского

