mixin excursionPopular()
	.popular-item.popular-excurs&attributes(attributes)

		.img
			img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
		.item-card_header
			.item-card_user
				a(href="#").item-card_user-pic: img(src="media/img-p/2.jpg", alt="")
				a(href="#") Рита

			a(href="#").item-card_comments 345
		a(href="#").title.
			Романовы в летописи Урала - Храм на Крови, Ганина Яма
		.item-card_footer
			p.item-card_price от <b>1600</b> руб. за экскурсию
