mixin guideCard(guideType)

	.guide-card(class=guideType == "pay" ? "--special" : null)&attributes(attributes)
		.guide-card_aside
			.guide-card_userpic
				img(src="media/img-p/guide-1.jpg", alt="Фото гида")

			a(href="#").guide-card_licence-btn.--m-hide.
					Лицензия гида
			if guideType != "free"
				.guide-card_menu
					nav.personal-menu.--at-guide-card
						ul
							li: a(href="#").menu-link <i class="ic _horn-1"></i> Экскурсии (24)
							li: a(href="#").menu-link <i class="ic _book"></i> Рассказы (2)
							li: a(href="#").menu-link <i class="ic _cam"></i> Фотоальбомы (4)
							li: a(href="#").menu-link <i class="ic _vid"></i> Видеозаписи (24)
							li: a(href="#").menu-link <i class="ic _fdb-grn"></i> Отзывы (32)

		.guide-card_content
			.guide-card_header
				a(href="#").guide-card_name.
					Вербер Регина Фанисовна
				span.guide-card_location.
					Свердловская область, Екатеринбург

				.gude-card_soc
					a(href="#").guide-card_licence-btn.
						Лицензия гида
					if guideType == "pay" || guideType == "social"
						.social
							a(href="#").item._wa
							a(href="#").item._vi
							a(href="#").item._tg
							a(href="#").item._ins

			.guide-card_about
				ul
					if guideType == "pay" || guideType == "social"
						li <b>Телефон:</b> +7 982 <a href="#">показать</a>
						li <b>Веб-сайт:</b> www.prostor-touristic.ru
					li <b>Язык:</b> Русский, Английский

				p.
					Предлагаю для гостей и жителей Екатеринбурга стандартные 
					обзорные и тематические экскурсии, а также собственные 
					авторские маршруты. Все программы аттестованы, имею 
					аккредитацию гида 1-й категории. Могу составить экскурсионный
			if guideType != "free"
				.guide-card_excurses
					.guide-card_excurs
						.item-card.--at-guide-card
							.item-card_img-wrapper
								.item-card_img
									img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").item-card_title.
								Все главные достопримечательности
							.item-card_footer
								p.item-card_price от <b>1600</b> руб.

					.guide-card_excurs
						.item-card.--at-guide-card
							.item-card_img-wrapper
								.item-card_img
									img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").item-card_title.
								Все главные достопримечательности
							.item-card_footer
								p.item-card_price от <b>1600</b> руб.

					.guide-card_excurs
						.item-card.--at-guide-card
							.item-card_img-wrapper
								.item-card_img
									img(src="media/img-p/excursion-1.jpg", alt="")
							a(href="#").item-card_title.
								Все главные достопримечательности
							.item-card_footer
								p.item-card_price от <b>1600</b> руб.
