.content-block
	width: 100%
	padding-bottom: 40px

	&:last-of-type
		padding-bottom: 0

	p:last-of-type
		margin-bottom: 0

.content-block .block-title
	width: 100%
	text-align: center
	padding: 0
	margin: 0
	margin-bottom: 20px

	&._blue
		color: #615faf

	&._pdg-t30
		padding-top: 30px

