.ic
	display: inline-block
	vertical-align: middle
	width: 22px
	height: 20px
	background: transparent url(../media/img/icons.png) no-repeat

	&._null
		background-position: 0 -20px

	&._person
		background-position: 0 0

	&._horn-1
		background-position: 0 -45px
	
	&._horn-2
		background-position: 0 -373px

	&._book
		background-position: 0 -91px

	&._cam
		background-position: 0 -135px

	&._vid
		background-position: 0 -180px

	&._card
		background-position: 0 -419px

	&._setting
		background-position: 0 -224px

	&._elipsis
		background-position: 0 -451px

	&._fdb-grn
		background-position: 0 -529px

	&._link
		background-position: 0 -653px

	&._lang
		background-position: 0 -692px

	&._phone
		background-position: 0 -613px

	&._world
		width: 24px
		height: 24px
		background-position: 0 -1050px
	&._pin
		background: url("../media/img/icon-attach.png") center no-repeat
		width: 19px
		height: 21px
		margin-top: 5px
		vertical-align: middle
		margin-right: 5px

	&._about
		background: url("../media/img/about-purple.png") center no-repeat
	&._buy
		background: url("../media/img/buy-purple.png") center no-repeat
	&._eat
		background: url("../media/img/eat-purple.png") center no-repeat
	&._ent
		background: url("../media/img/entertaiments-purple.png") center no-repeat
	&._flight
		background: url("../media/img/flight-purple.png") center no-repeat
	&._home
		background: url("../media/img/home-purple.png") center no-repeat
	&._see
		background: url("../media/img/see-purple.png") center no-repeat
	&._turistik
		background: url("../media/img/turistik-purple.png") center no-repeat
