mixin cardTourfirm()
	article.card-item&attributes(attributes)
		.card-img
			img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
		.card-content
			.card-header
				a(href="#").on-map На карте
				a(href="#").comments._good 345
			a(href="#").card-title.
				Санкт-Петербург Есенина в компании поэта
			p.card-text.
				О личностном и творческом 
				становлении великого поэта на 
				экскурсии по местам его славы