mixin cardTour()
	article.card-item&attributes(attributes)
		.card-img
			img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
		.card-content
			a(href="#").card-title.
				Санкт-Петербург Есенина в компании поэта
			p.card-text.
				О личностном и творческом 
				становлении великого поэта на 
				экскурсии по местам его славы