mixin cardPerson()
	.person-card&attributes(attributes)
		.person-img
			img(src="media/img-p/guide-1.jpg", alt="Фото гида")
		a(href="#").person-name.
			Иванов Иван Иванович
		nav.personal-menu
			ul
				li
					a(href="#").menu-link <i class="ic _horn-1"></i> Экскурсии (24)
				li
					a(href="#").menu-link <i class="ic _book"></i> Рассказы (2)
				li
					a(href="#").menu-link <i class="ic _cam"></i> Фотоальбомы (4)
				li
					a(href="#").menu-link <i class="ic _vid"></i> Видеозаписи (4)
				li
					a(href="#").menu-link <i class="ic _fdb-grn"></i> Отзывы (4)