mixin cardStory()
	article.card-item&attributes(attributes)
		.card-img
			img(src="media/img-p/excursion-1.jpg", alt="Фото экскурсии")
		.card-content
			.card-header
				.user
					.user-pic
						a(href="#")
							img(src="media/img-p/2.jpg", alt="")
					a(href="#").user-name Рита
				a(href="#").comments._good 345
			a(href="#").card-title.
				Санкт-Петербург Есенина в компании поэта
			p.card-text.
				О личностном и творческом 
				становлении великого поэта на 
				экскурсии по местам его славы