mixin guideCard()
	.guide-card&attributes(attributes)
		.guide-person
			.guide-pic
				img(src="media/img-p/guide-1.jpg", alt="Фото гида")

			.guide-info
				a(href="#").guide-name.
					Вербер Регина Фанисовна
				span.guide-location.
					Свердловская область, Екатеринбург

			.social
				a(href="#").item._wa
				a(href="#").item._vi
				a(href="#").item._tg
				a(href="#").item._ins

			a(href="#").guide-licence-btn.
				Лицензия гида

		.guide-excurses
			.col._1-3
				.card-item
					.card-img
						img(src="media/img-p/excursion-1.jpg", alt="")
					a(href="#").card-title.
						Все главные достопримечательности
					.card-footer
						p.card-price
							b 1600 
							span руб.

			.col._1-3
				.card-item
					.card-img
						img(src="media/img-p/excursion-1.jpg", alt="")
					a(href="#").card-title.
						Все главные достопримечательности
					.card-footer
						p.card-price
							b 1600 
							span руб.

			.col._1-3
				.card-item
					.card-img
						img(src="media/img-p/excursion-1.jpg", alt="")
					a(href="#").card-title.
						Все главные достопримечательности
					.card-footer
						p.card-price
							b 1600 
							span руб.

		.guide-menu
			.col._1-3
				nav.personal-menu
					ul
						li
							a.menu-link <i class="ic _phone"></i> +7 982 <a href="#" class="link">показать</a>
						li
							a(href="#").menu-link <i class="ic _link"></i> www.prostor-gid.ru
						li
							a.menu-link <i class="ic _lang"></i> Язык экскурсий: Русский

			.col._1-3
				nav.personal-menu
					ul
						li
							a(href="#").menu-link <i class="ic _horn-1"></i> Экскурсии (24)
						li
							a(href="#").menu-link <i class="ic _book"></i> Рассказы (2)
						li
							a(href="#").menu-link <i class="ic _cam"></i> Фотоальбомы (4)
								
			.col._1-3
				nav.personal-menu
					ul
						li
							a(href="#").menu-link <i class="ic _vid"></i> Видеозаписи (24)
						li
							a(href="#").menu-link <i class="ic _fdb-grn"></i> Отзывы (32)