.m-menu#mobile-menu
	a(href="#").m-menu-close
	nav.m-nav
		ul.m-nav-list
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте
			li.m-nav-item
				a(href="#").m-nav-link О месте

	.user-block._at-m-menu
		a(href="#").user-pic.js-open-user-menu
			img(src="media/img-p/1.jpg", alt="")

		.user-menu-popup.js-user-menu-popup
			ul.user-menu-list
				li.user-menu-item: a.user-menu-link.mopen(href="#signin") Войти
				li.user-menu-item: a.user-menu-link(href="#") Мой профиль
				li.user-menu-item: a.user-menu-link(href="#") Настройки
				li.user-menu-item: a.user-menu-link(href="#") Выйти