mixin popularGuide()
	.popular-guide&attributes(attributes)
		.img
			img(src="media/img-p/guide-1.jpg", alt="Фото гида")

		a(href="#").title.
			Иванов Иван Иванович

		a(href="#").link.
			Экскурсии (24)
