header.site-header.--at-index
	.full-content
		.site-logo._at-header
			a(href="/") Personal <br/> guide





		form(action="#" method="get").search-form._at-header
			input(type="text" name="search-request" placeholder="куда отправитесь?").serach-field
			button(type="submit").search-submit

		.header__right-side
			a(href="#city-choise").btn._city-choise.mopen
				i.ic._world
				| Страны и города
			.user-block
				a(href="#", style="background-image: url('media/img-p/guide-1.jpg')").user-pic.js-open-user-menu._is-notify


				.user-menu-popup.js-user-menu-popup
					ul.user-menu-list
						li.user-menu-item: a.user-menu-link.mopen(href="#signin") Войти
						li.user-menu-item: a.user-menu-link(href="#") Мой профиль
							span._is-notify-num 4
						li.user-menu-item: a.user-menu-link(href="#") Настройки
						li.user-menu-item: a.user-menu-link(href="#") Выйти

	nav.site-nav
		.nav-wrapper
			a(href="#").open-mobile-menu

			.sides-items._is-hide.js-down-anim
				a(href="#city-choise").choice-city-btn.mopen: img(src="media/img/logo-icon.png", alt="")

			ul.nav-list
				//- li.nav-item._is-active
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-7.png", alt="", width="21", height="18")
					a(href="#").nav-link О месте

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Описание
								a(href="#info-slide-2").item Рассказы
								a(href="#info-slide-3").item Карта

				li.nav-item._is-active
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-1.png", alt="", width="15", height="16", style="width: 15px !important; height: 16px !important")
					a(href="#").nav-link Для туристов

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Гиды
								a(href="#info-slide-2").item Туры
								a(href="#info-slide-3").item Экскурсии
								a(href="#info-slide-3").item Турфирмы
								a(href="#info-slide-3").item Рассказ
								a(href="#info-slide-3").item Справочник
								a(href="#info-slide-3").item Визы

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-2.png", alt="", width="13", height="11", style="width: 13px !important; height: 11px !important")
					a(href="#").nav-link Где поселиться

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Гостиницы
								a(href="#info-slide-2").item Домашние гостиницы
								a(href="#info-slide-3").item Квартиры посуточно
								a(href="#info-slide-3").item Кемпинги
								a(href="#info-slide-3").item Частный сектор
								a(href="#info-slide-3").item Мини отели
								a(href="#info-slide-3").item Отели
								a(href="#info-slide-3").item Хостелы
								a(href="#info-slide-3").item Аренда жилья

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-3.png", alt="", width="12", height="18", style="width: 12px !important; height: 18px !important")
					a(href="#").nav-link Где поесть

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Бары
								a(href="#info-slide-2").item Кафе
								a(href="#info-slide-3").item Кейтеринг
								a(href="#info-slide-3").item Рестораны

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-4.png", alt="", width="15", height="12", style="width: 15px !important; height: 12px !important")
					a(href="#").nav-link Что посмотреть

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Музеи
								a(href="#info-slide-2").item Выставки
								a(href="#info-slide-3").item Видеогид
								a(href="#info-slide-3").item Карты
								a(href="#info-slide-3").item Праздники
								a(href="#info-slide-3").item Веб-камеры
								a(href="#info-slide-3").item Фотогалерея

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-5.png", alt="", width="17", height="16", style="width: 17px !important; height: 16px !important")
					a(href="#").nav-link Где отдохнуть

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item SPA
								a(href="#info-slide-2").item Базы отдыха
								a(href="#info-slide-3").item Горнолыжные комплексы
								a(href="#info-slide-3").item Загородные лагеря
								a(href="#info-slide-3").item Оздоровительные центры
								a(href="#info-slide-3").item Природные парки
								a(href="#info-slide-3").item Санатории
								a(href="#info-slide-3").item Турбазы
								a(href="#info-slide-3").item Развлечения

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-6.png", alt="", width="17", height="15", style="width: 17px !important; height: 15px !important")
					a(href="#").nav-link Что купить

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Сувениры

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-8.png", alt="", width="17", height="8", style="width: 17px !important; height: 8px !important")
					a(href="#").nav-link Как добраться

					.row._grey.subnav
						.wrapper
							.tabs
								a(href="#info-slide-1").item Транспорт
								a(href="#info-slide-2").item ЖД билеты
								a(href="#info-slide-3").item Авиабилеты
								a(href="#info-slide-3").item Прокат авто
								a(href="#info-slide-3").item Чартерные авиабилеты

			// ._is-hide.js-down-anim
			.sides-items.search-popup
				a(href="#").search-btn.js-search-open

				// ._is-hide
				form(action="#" method="get").search-form._at-search-popup._is-hide
					input(type="text" name="search-request" placeholder="куда отправитесь?").serach-field
					button(type="reset").search-reset
					button(type="submit").search-submit
					
	include ../1_blocks/m-menu