extends cabinet-template

block title
	title Личный кабинет. Компания.

block content
	main.wrapper
		.page-header
			h1.like-h3.
				Личный кабинет. Компания

		.columns-grid._cabinet-page
			.col._1-4
				aside.sidebar
					.add-menu
						a(href="#").btn._add добавить
						
						ul.dropdown
							li._with-sub-dropdown

								a(href="#") Как добраться

								ul.sub-dropdown
									li
										a(href="#") На такси
									li
										a(href="#") На автобусе
									li
										a(href="#") На попутке
									li
										a(href="#") На метро

							li._with-sub-dropdown
								a(href="#") Где поселиться

								ul.sub-dropdown
									li
										a(href="#") Гостиницы
									li
										a(href="#") Домашние отели
									li
										a(href="#") Квартиры посуточно
									li
										a(href="#") Кемпинги
									li
										a(href="#") Частный сектор
									li
										a(href="#") Мини отели
									li
										a(href="#") Мотели
									li
										a(href="#") Отели
									li
										a(href="#") Хостелы

							li._with-sub-dropdown
								a(href="#") Где поесть

							li._with-sub-dropdown
								a(href="#") Что посмотреть

							li._with-sub-dropdown
								a(href="#") Где отдохнуть

							li._with-sub-dropdown
								a(href="#") Что купить

							li._with-sub-dropdown
								a(href="#") Для туристов

					nav.personal-menu
						ul
							li
								a(href="#").menu-link <i class="ic _person"></i> Личные данные
							li
								a(href="#").menu-link <i class="ic _elipsis"></i> Службы такси (3)
							li
								a(href="#").menu-link <i class="ic _elipsis"></i> Зоопарки (4)
							li
								a(href="#").menu-link <i class="ic _elipsis"></i> Отели (1)
							li
								a(href="#").menu-link <i class="ic _elipsis"></i> Сувениры (20)
							li
								a(href="#").menu-link <i class="ic _horn-2"></i> Рассылка
							li
								a(href="#").menu-link <i class="ic _card"></i> Оплата
							li
								a(href="#").menu-link._is-blue <i class="ic _setting"></i> Настройки
							li
								a(href="#").menu-link._is-blue <i class="ic _null"></i> Выйти
							li
								a(href="#").menu-link._is-blue <i class="ic _null"></i> Удалить аккаунт
			
			.col._3-4
				block main