extends template

block title
	title Страница гида

block content
	nav.breadcrumbs
		.wrapper
			ul
				li: a(href="#") Главная
				li: a(href="#") Гиды России
				li: a(href="#") Гиды Екатеринбурга

	main.wrapper.guide-card-info(class=menu ? "_with-left-side" : null)
		.page-header
			h1.page-title Хусанова Рита Бинсыровна
		if menu
			.mobile-left-side.js-make-sticky
				a(href="#", style="background: url('../media/img-p/guide-1.jpg'); background-size: cover").mobile-left-side_link.mobile-left-side__place._is-active
				a(href="#").mobile-left-side_link.mobile-left-side__comment
				a(href="#").mobile-left-side_link.mobile-left-side__comment._is-green
				a(href="#").mobile-left-side_link.mobile-left-side__message
		.columns-grid._2-cols
			.col._1-4._m-1-1.page-aside
				.guide-card.--at-page-aside
					.guide-card_aside
						.guide-card_userpic
							img(src="media/img-p/guide-1.jpg", alt="Фото гида")

					.guide-card_content
						.guide-card_header
							h1.guide-title Хусанова Рита Бинсыровна
							span.guide-card_location.
								Свердловская область, Екатеринбург,
								Челябинск, Миасс, Златоуст
						
							.gude-card_soc
								a(href="#").guide-card_licence-btn.
									Лицензия гида

								.social
									a(href="#").item._wa
									a(href="#").item._vi
									a(href="#").item._tg
									a(href="#").item._ins
					
						.guide-card_menu
							nav.personal-menu.--at-guide-card
								ul
									li: a.menu-link <i class="ic _phone"></i> +7 (982) 2... <a href="#" class="link">показать</a>
									li: a(href="#").menu-link <div class="about-me"><img src="media/img-p/guide-1.jpg" alt=""></div> Обо мне
									li: a(href="#").menu-link <i class="ic _horn-1"></i> Экскурсии (24)
									li: a(href="#").menu-link <i class="ic _book"></i> Рассказы (2)
									li: a(href="#").menu-link <i class="ic _cam"></i> Фотоальбомы (4)
									li: a(href="#").menu-link <i class="ic _vid"></i> Видеозаписи (24)
									li: a(href="#").menu-link <i class="ic _fdb-grn"></i> Отзывы (32)
				
				.action-btns
					a(href="#").btn оставить отзыв
					a(href="#").btn._is-blue отправить сообщение

			.col._3-4._m-1-1
				block page-content