footer.site-footer
	.wrapper.footer-top
		.col._1-3
			.site-logo._at-footer
				img(src="media/img/site-logo.png", alt="")

			p.
				Туристический портал для тех, кто 
				путешествует или собирается 
				путешествовать по России и за рубежом.

		.col._2-3
			nav.footer-nav
				ul.js-foo-nav
					li.groupe-title.js-open-foo-nav.
						Туристу
					li: a(href="#") Ж/Д билеты
					li: a(href="#") Авиабилеты
					li: a(href="#") Аренда жилья
					li: a(href="#") Прокат авто
					li: a(href="#") Страхование

				ul.js-foo-nav
					li.groupe-title.js-open-foo-nav.
						Интересное
					li: a(href="#") Статьи
					li: a(href="#") Зарубежные статьи
					li: a(href="#") Новости
					li: a(href="#") Рассказы

				ul.js-foo-nav
					li.groupe-title.js-open-foo-nav.
						Информация
					li: a(href="#") О нас
					li: a(href="#") Условия использования
					li: a(href="#") Информация для гидов

	.wrapper.footer-bottom
		span.foo-copyright.
			© Personal Guide. All rights Reserved.
		
		.social
			a(href="#").item._vk
			a(href="#").item._fb
			a(href="#").item._yt