header.site-header._full
	.full-content
		a(href="#").btn._city-choise
			i.ic._world
			| Страны и города

		form(action="#" method="get").search-form._in-header
			input(type="text" name="search-request" placeholder="Куда отправитесь?").serach-field
			button(type="submit").search-submit: img(src="media/img/search-icon.png", alt="")
		
		.user-block
			a(href="#").user-pic.js-open-user-menu
				img(src="media/img-p/1.jpg", alt="")

			.user-menu-popup.js-user-menu-popup
				ul.user-menu-list
					li.user-menu-item: a.user-menu-link(href="#") Мой профиль
					li.user-menu-item: a.user-menu-link(href="#") Настройки
					li.user-menu-item: a.user-menu-link(href="#") Выйти

	nav.site-nav
		.nav-wrapper
			a(href="#").choice-city-btn._is-hide.js-down-anim: img(src="media/img/logo-icon.png", alt="")

			ul.nav-list
				li.nav-item._is-active
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-7.png", alt="", width="21", height="18")
					a(href="#").nav-link О месте

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-1.png", alt="", width="21", height="22")
					a(href="#").nav-link Для Туристов

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-2.png", alt="", width="18", height="16")
					a(href="#").nav-link Где поселиться

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-3.png", alt="", width="16", height="26")
					a(href="#").nav-link Где поесть

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-4.png", alt="", width="21", height="17")
					a(href="#").nav-link Что посмотреть

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-5.png", alt="", width="23", height="23")
					a(href="#").nav-link Где отдохнуть

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-6.png", alt="", width="24", height="21")
					a(href="#").nav-link Что купить

				li.nav-item
					a(href="#").nav-item-icon: img(src="media/img/groupe-icon-8.png", alt="", width="25", height="12")
					a(href="#").nav-link Как добраться

			a(href="#").search-btn._is-hide.js-down-anim: img(src="media/img/search-icon.png", alt="")