html,
body
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	line-height: 24px
	color: #666
	background-color: #f7f7f7

img
	width: 100%
	height: auto

*,
*::before,
*::after
	box-sizing: inherit

a
	color: inherit

p._text-center
	text-align: center

.container
	max-width: 1024px
	margin: 0 auto
	padding-left: 30px
	padding-right: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.page-title
	font-weight: 400
	width: 100%
	padding: 0 10px
	margin-bottom: 18px

.section-title
	font-weight: 400
	width: 100%
	text-align: center
	margin: 0
	margin-bottom: 38px

// TITLES

.like-h1
	font-size: 1.5rem
	line-height: 1

.like-h2
	font-size: 1.13rem
	line-height: 1