.modal
	.modal-container._w780#city-choise
		.modal-content
			h2.like-h2 Страны и города

			form(action="#" method="get").search-form._at-city-modal
				input(type="text" name="search-request" placeholder="Куда отправитесь?").serach-field
				button(type="submit").search-submit

			.row.keywords
				a(href="#").btn._keyword._is-active Екатеринбург
				a(href="#").btn._keyword Москва
				a(href="#").btn._keyword Санкт-Петербург
				a(href="#").btn._keyword Новосибирск
				a(href="#").btn._keyword Казань
			
			.columns-grid._no-gap
				.col._1-3
					b.like-h3 Направления

					ul.places-list
						li.places-item._is-active: a(href="#").places-link Европа
						li.places-item: a(href="#").places-link Азия
						li.places-item: a(href="#").places-link Северная Америка
						li.places-item: a(href="#").places-link Южная Америка
						li.places-item: a(href="#").places-link Африка
						li.places-item: a(href="#").places-link Австрия и Океания

				.col._1-3
					b.like-h3 Страны

					ul.places-list
						li.places-item: a(href="#").places-link Польша
						li.places-item._is-active: a(href="#").places-link Россия
						li.places-item: a(href="#").places-link Румыния
						li.places-item: a(href="#").places-link Сербия
						li.places-item: a(href="#").places-link Словакия
						li.places-item: a(href="#").places-link Словения
						li.places-item: a(href="#").places-link Украина
						li.places-item: a(href="#").places-link Финляндия
						li.places-item: a(href="#").places-link Франция
						li.places-item: a(href="#").places-link Польша
						li.places-item: a(href="#").places-link Россия
						li.places-item: a(href="#").places-link Румыния
						li.places-item: a(href="#").places-link Сербия
						li.places-item: a(href="#").places-link Словакия
						li.places-item: a(href="#").places-link Словения
						li.places-item: a(href="#").places-link Украина
						li.places-item: a(href="#").places-link Финляндия
						li.places-item: a(href="#").places-link Франция

				.col._1-3
					b.like-h3 Города

					ul.places-list
						li.places-item: a(href="#").places-link Березовский
						li.places-item: a(href="#").places-link Верхняя Пышма
						li.places-item: a(href="#").places-link Верхняя Слада
						li.places-item._is-active: a(href="#").places-link Екатеринбург
						li.places-item: a(href="#").places-link Заречный
						li.places-item: a(href="#").places-link Ирбит
						li.places-item: a(href="#").places-link Каменск-Уральский
						li.places-item: a(href="#").places-link Камышлов
						li.places-item: a(href="#").places-link Карпинск
						li.places-item: a(href="#").places-link Заречный
						li.places-item: a(href="#").places-link Ирбит
						li.places-item: a(href="#").places-link Каменск-Уральский
						li.places-item: a(href="#").places-link Камышлов
						li.places-item: a(href="#").places-link Карпинск

		a(href="#").modal-close

	.modal-overlay