.modal
	.modal-container._w780#delete-modal
		.modal-content
			h2._text-center.page-title Вы действитель хотите удалить экскурсию?

			.btn-select
				a.btn(href="#") Да
				a.btn._just-text(href="") Отмена


	.modal-overlay