.modal
	.modal-container._w310._login#signup
		.modal-content
			
			form(action="#" method="post").form
				.col
					fieldset.fields-groupe
						.tf-wrapper
							input(type="email" name="email" id="signup-email" value="" data-validation="required email").text-field
							label(for="signup-email" data-content="email")

						.tf-wrapper
							input(type="password" name="password" id="signup-password" value="" data-validation="required length" data-validation-length="min6").text-field
							label(for="signup-password" data-content="пароль")

					fieldset.fields-groupe
						.signup-as
							.radio-wrapper.sign-as__user
								input(type="radio" name="signup-as" id="like-tourist" checked)
								label(for="like-tourist") Путешественник
							.radio-wrapper.sign-as__guide
								input(type="radio" name="signup-as" id="like-guide" checked)
								label(for="like-guide") Гид
							.radio-wrapper.sign-as__company
								input(type="radio" name="signup-as" id="like-company" checked)
								label(for="like-company") Компания
					
					fieldset.fields-groupe
						.chbx-wrapper._type-2
							input(type="checkbox" name="signup-agreement" id="signup-agreement" data-validation="required")
							label(for="signup-agreement") принять <a href="#">условия регистрации</a>

					.form-actions._btn-center
						button(type="submit").btn._bordered._fs11 зарегистрироваться

		a(href="#").modal-close
	.modal-overlay