.ads-container

.ads
	background-color: #eeeff4
	width: 100%
	min-height: 340px
	margin: 0 auto

	+ .ads
		margin-top: 20px

	&._728x92
		max-width: 728px
		min-height: 90px

@media screen and (max-width: 940px)
	.ads-container
		display: none