.btn
	display: inline-block
	vertical-align: top
	padding: 7px 18px 9px
	font-size: 13px
	line-height: 14px
	text-decoration: none
	color: #fff
	background-color: #00cc99
	border-radius: 50px	
	font-weight: 700
	position: relative
	border: none
	cursor: pointer

	&._add
		padding-left: 35px

		&::before
			content: '+'
			font-size: 20px
			line-height: 20px
			position: absolute
			top: 50%
			left: 12px
			transform: translateY(-50%)