.personal-menu
	width: 100%
	font-size: 0.9rem
	
	
	ul
		list-style: none
		li
			margin-bottom: 5px
		a
			text-decoration: none
			color: #666 !important
			font-size: 13px
			i
				margin-right: 5px



	&.--at-guide-card
		font-size: .813rem
		ul
			margin-left: -40px

		.personal-menu_item
			margin-bottom: 10px

.personal-menu_list
	list-style: none
	padding: 0
	margin: 0

.personal-menu_item
	margin-bottom: 20px
	vertical-align: top

	&:last-child
		margin-bottom: 0

	&._is-active
		font-weight: 700
		color: #615faf

.personal-menu_link
	text-decoration: none
	color: inherit

	&[href]:hover
		color: #615faf

	&._is-blue
		color: #615faf

.personal-menu_link > .ic
	margin-right: 5px

@media screen and (max-width: 940px)
	.personal-menu
		font-size: 1rem

		&.--at-guide-card
			font-size: 1rem

		&.--at-cabinet-aside
			font-size: 0

			.personal-menu_item._is-active
				position: relative

				&::before
					content: ""
					position: absolute
					display: block
					width: 3px
					height: 40px
					left: 0
					top: 50%
					margin-top: -20px
					margin-left: -10px
					background-color: #0c9