.personal-menu
	width: 100%
	font-size: 0.9rem

.personal-menu ul
	list-style: none
	padding: 0
	margin: 0

.personal-menu li
	margin-bottom: 20px
	vertical-align: top

	&:last-child
		margin-bottom: 0

.personal-menu li > .menu-link
	text-decoration: none
	color: inherit

	&[href]:hover
		color: #615faf

	&._is-blue
		color: #615faf

	&._is-active
		font-weight: 700
		color: #615faf

.personal-menu li > .menu-link > .ic
	margin-right: 5px

@media screen and (max-width: 940px)
	.personal-menu
		font-size: 1rem