.person-card
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center

.person-card .person-img
	width: 146px
	height: 146px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	border-radius: 50%
	margin: 0 auto 12px

.person-card .person-name
	color: #6563a4
	font-size: .88rem
	line-height: 1.5
	text-decoration: none
	text-align: center
	font-weight: 700
	margin-bottom: 13px

.person-card .personal-menu
	font-size: .813rem
	line-height: 1.5
	padding-left: 35px
	padding-right: 35px

.person-card .personal-menu li
	margin-bottom: 10px

@media screen and (max-width: 940px)
	.person-card .person-img
		width: 130px
		height: 130px

	.person-card .person-name
		font-size: 1.39rem

	.person-card .personal-menu
		font-size: 1rem
		padding-left: 30px
		padding-right: 30px