.places-list
	width: calc(100% + 1px) // for side border collapse
	min-height: 200px
	height: 100%
	list-style: none
	margin: 0
	padding: 0
	border-left: 1px solid #cccccc
	border-right: 1px solid #cccccc
	position: relative
	max-height: 320px
	height: 100%
	overflow-y: auto
	margin-top: 10px
	font-size: .813rem

	&::-webkit-scrollbar
		width: 18px
		background-color: transparent

	&::-webkit-scrollbar-track
		border: none
		background-color: transparent
		box-shadow: none

	&::-webkit-scrollbar-thumb
		border: solid transparent
		border-left-width: 5px
		border-right-width: 5px
		background-clip: padding-box
		border-radius: 8px

		&:hover
			background-color: rgba(0, 0, 0, .65)

.places-item
	font-size: inherit
	line-height: 1

	&._is-active
		background-color: #f4f5fa
		color: #00cc99

.places-link
	display: block
	text-decoration: none
	line-height: 1
	padding: 10px 18px
	color: inherit

.places-block-title
	position: relative
	font-weight: 400
	font-size: 1.13rem

	&._back
		cursor: pointer

	&._back::before,
	&._back::after
		content: ""
		display: none
		width: 9px
		height: 1px
		background-color: #000
		position: absolute
		top: calc(50% + 3px)
		left: 0

	&._back::before
		transform: rotate(45deg)

	&._back::after
		transform: rotate(-45deg)
		margin-top: -6px

@media screen and (max-width: 940px)
	.places-list
		border-left: none
		border-right: none
		border-top: 1px solid #cccccc
		border-bottom: 1px solid #cccccc
		font-size: 1rem
		padding-top: 10px
		padding-bottom: 10px
		min-height: 200px
		max-height: 322px

	.places > .col._1-3
		width: 100%
		flex-shrink: 0

	.places-block-title
		font-size: 1.5rem

		&._back
			padding-left: 18px

			&::before,
			&::after
				display: block