.popular-items
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	overflow: hidden
	overflow-x: auto

.popular-item
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center
	width: calc(25% - 16.66px)
	min-width: 220px
	margin-right: 20px
	border-radius: 5px
	background: #ebf5f2
	padding: 18px 22.5px

	&:last-child
		margin-right: 0

.popular-item .img
	width: 145px
	height: 145px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	border-radius: 50%
	margin-bottom: 18px

.popular-item .img img
	min-height: 100%

.popular-item .title
	font-size: .875rem
	line-height: 1.1
	color: #615faf
	font-weight: 700
	text-decoration: none
	text-align: center
	word-wrap: break-word
	word-break: break-all
	height: 30px

.popular-item .link
	text-decoration: none
	color: inherit
	font-size: .813rem
	text-align: center
	margin: 10px auto 0

.popular-item .phone-link
	a
		color: #615faf !important

.popular-item .btn
	background: #615faf
	font-size: 13px
	padding: 10px