.site-header
	width: 100%
	background-color: #67669f 
	background-image: linear-gradient(150deg, rgba(165, 109, 181, .6) 0%, rgba(165, 109, 181, .6) 20%, rgba(77, 75, 143, .6) 30%, rgba(77, 75, 143, .6) 100%), url(../media/img/header-bg.jpg)
	background-repeat: no-repeat, no-repeat
	background-position: 0 0, 0 0
	background-size: 100% 370px, 100% 370px
	background-clip: content-box
	padding-bottom: 66px
	position: relative
	background-attachment: fixed
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column

	&._full
		position: sticky
		z-index: 100
		top: -257px
		box-shadow: 0 0 15px -8px

		.site-nav
			background: linear-gradient(to bottom, transparent 0%, transparent 39%, #fff 39%, #fff 100%)
		
.site-header .full-content
	width: 100%
	max-width: 1280px
	min-width: 940px
	min-height: 257px
	margin: 0 auto
	padding: 10px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	justify-content: space-between
	position: relative
