.site-nav
	margin-bottom: -65px
	margin-top: auto
	padding-top: 15px
	z-index: 100
	width: 100%
	background-color: transparent
	position: relative

.site-nav .nav-wrapper
	max-width: 1280px
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	margin-left: auto
	margin-right: auto

.site-nav .nav-list
	min-width: 780px
	max-width: 940px
	width: 100%
	margin: 0 auto
	list-style: none
	padding: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between

.site-nav .nav-item
	font-size: .88rem
	line-height: 1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center
	flex: 1 1 110px
	text-align: center
	padding-bottom: 15px

	&:hover .subnav
		transform: scaleY(1)

	&._is-active
		color: #000

		.nav-item-icon
			background-color: transparent

		.nav-item-icon::before
			content: ""
			display: block
			width: 50px
			height: 50px
			background-color: #00cc99
			border: 3px solid #fff
			border-radius: 50% 50% 0 50%
			position: absolute
			left: 0
			top: 0
			box-shadow: 3px 3px 10px -3px
			transform: rotate(45deg)

.site-nav .subnav
	position: absolute
	left: 0
	bottom: -59px
	transition: .2s
	max-height: 59px
	transform-origin: top
	transform: scaleY(0)

.site-nav .nav-item-icon
	width: 50px
	height: 50px
	border-radius: 50%
	background-color: #00cc99
	margin-bottom: 12px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	position: relative

.site-nav .nav-item-icon img
	width: unset
	height: unset
	z-index: 1

.site-nav .nav-link
	text-decoration: none
	color: inherit

.site-nav .choice-city-btn
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	width: 50px
	height: 65px
	margin: 0 15px
	background-color: #615faf
	border-radius: 0 0 50px 50px
	flex-shrink: 0
	margin-top: -15px

.site-nav .choice-city-btn img
	margin-bottom: -4px
	width: initial
	height: initial

.site-nav .search-btn
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	width: 52px
	height: 52px
	background-color: #615faf
	border: 2px solid #fff
	border-radius: 52px
	box-shadow: 0 3px 10px -3px
	margin: 0 15px
	flex-shrink: 0
	position: relative

	&::before,
	&::after
		content: ""
		display: block
		position: absolute

	&::before
		width: 17px
		height: 17px
		border-radius: 50%
		border: 3px solid #fff
		top: 13px
		left: 12px

	&::after
		width: 10px
		height: 4px
		background-color: #fff
		transform: rotate(45deg)
		top: 28px
		left: 24.5px

.site-nav .sides-items
	transition: .4s, opacity 0s

	&._is-hide
		transform: translateY(-200px)
		pointer-events: none
		opacity: 0
		z-index: -1
		transition: .4s